.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.defintion_header{
  font-size: 2em;
  color: chocolate;
}

.definition_text{
  font-size: 1em;
  color: burlywood;
}

.example_header{
  font-size: .8em;
  color: chartreuse;
}

.example_text{
  font-size: .6em;
  color: rgb(139, 175, 102);
}

.urban_dictionary{
  font-size: 2em;
  font-weight: bold;
  color: yellow;
}
